{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Department Query</title>
{% endblock title %}

{% block formtitle %}
    <h3 class="mt-2">Add Department</h3>
{% endblock formtitle %}
    
{%block content%}

{% if user.is_authenticated %}
<div class="container">
    <form method="post">
        
        {%csrf_token%}
        {{form|crispy}}

        <button class="btn btn-success ml-2" type="submit">Save Department</button>
    </form>
</div>
{% else %}
<p>You don't have authorization to this page</p>
{% endif %}

{%endblock content%}




